body {
    font-family: 'Yeseva One', cursive;
    font-family: 'Muli', sans-serif;
}

.head-content {
    margin-left: 50px;

}


h1 {
    margin-top: 100px;
    padding-bottom: 15px;
    text-align: justify;
}

span {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;

}

span.detail {
    padding-left: 25px;
}

img {
    width: 100%;
 
}

.navbar {
    background-color: #FCFCFE ;
}

a { 
    color: #aaa;
    text-transform: uppercase;
    
}
a.navbar-brand {
    color: #000000;
    font-style: bold;
    font-size: 30px;
    text-transform: capitalize;
    
}

a:hover {
    color: ;
}
.row-aside{
    padding-left: 30px;
    
}

.row-paragraph{
    border-left: 1px solid rgb(146, 146, 146);
}
.row-articals{
    
    padding-left: 30px;
    padding-bottom: 20px;
}

.bord{
     border: 1px solid black;
    border-radius: 50%;
    position: relative;
    right: 43px;
    bottom:-30px; 
    font-size: 15px;
    display: inline-block;
    height: 33px;
    width: 26px;
    padding: 5px;
}

.fa-dot-circle{
    position: relative;
    right: 41px;
    bottom:-30px; 
    font-size: 22px;
}

.col-12{
    padding-left: 30px;
}
.row-butto-around{
    border: 2px solid rgb(219, 217, 217);
    text-align: center;
    padding: 15px;
    margin-top: 70px;

}
.border-class{
    height: 60px;
    border-right: 2px solid rgb(219, 217, 217);
 }
 
 
 h3{
     font-size: 26px;
 }
 h4{
     font-size: 24px;
     color:rgb(122, 121, 121);
     padding-bottom: 20px;
     
     
     font-size: 25px;
     letter-spacing: 1.5px;
     padding-bottom: 20px;
 }
 h4{
     font-size: 20px;
     color:rgb(146, 146, 146);
 }

 h5  {
     padding-bottom:10px; 
     color:rgb(146, 146, 146);
 }
 strong{
     color: rgb(27, 27, 27);
 }
 p{
    color:rgb(146, 146, 146);
    

     font-size: 20px
 }
 .first-info {
    margin-bottom: 100px;

 }
 .main-content {
      width: 800px;
      margin-top: 100px; 
      margin-bottom: 100px;
 }