body {
    font-family: 'Yeseva One', cursive;
}

.navbar {
    background-color: #FEFEFE;
}
a { 
    color: #aaa;
    text-transform: uppercase;
}
a.navbar-brand {
    color: #000000;
    font-style: bold;
    font-size: 30px;
    
}

a:hover {
    color: ;
}